As I don't yet have found a dataset with more features, I will start to implement the script with the solvation dataset.

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

### Loading the data

In [2]:
dataset = pd.read_csv('../datasets/FreeSolv/SAMPL.csv')

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset.head()

                              iupac                  smiles   expt   calc
0  4-methoxy-N,N-dimethyl-benzamide  CN(C)C(=O)c1ccc(cc1)OC -11.01 -9.625
1          methanesulfonyl chloride            CS(=O)(=O)Cl  -4.87 -6.219
2                 3-methylbut-1-ene                CC(C)C=C   1.83  2.452
3                   2-ethylpyrazine              CCc1cnccn1  -5.45 -5.809
4                       heptan-1-ol                CCCCCCCO  -4.21 -2.917

### Data Exploration

In [5]:
df = dataset.drop(columns = ['iupac'])

In [6]:
df.describe()

             expt        calc
count  642.000000  642.000000
mean    -3.803006   -3.486223
std      3.847820    4.186301
min    -25.470000  -21.762000
25%     -5.727500   -5.421500
50%     -3.530000   -3.053500
75%     -1.215000   -0.480750
max      3.430000    3.335000

I'll take a small subset for now.

In [7]:
df = df.sample(n = 20)
df

                                              smiles   expt    calc
441                              CN(C)C(=O)Nc1ccccc1  -9.13 -11.810
192               c1ccc2c(c1)Oc3c(cc(c(c3O2)Cl)Cl)Cl  -4.05  -3.160
332                                            CCSCC  -1.46   0.299
362  C([C@@H]1[C@H]([C@@H]([C@H]([C@@H](O1)O)O)O)O)O -25.47 -18.095
465                                      c1ccc(cc1)O  -6.60  -5.707
428                        c1c(c(=O)[nH]c(=O)[nH]1)F -16.92 -16.371
128                          COc1c(cc(c(c1O)OC)Cl)Cl  -6.44  -5.980
323                                   c1cc(ccc1C#N)O -10.17  -8.390
341                                         CCCCCC#C   0.60   0.639
152                                           C(CO)O  -9.30  -7.266
587                                        CC(C)OC=O  -2.02  -3.591
632                                  Cc1cccc2c1cccc2  -2.44  -3.212
500              c1(c(c(c(c(c1Cl)Cl)Cl)Cl)Cl)N(=O)=O  -5.22  -1.284
443     C1C=CC[C@@H]2[C@@H]1C(=O)N(C2=O)SC(Cl)(Cl)Cl  -9.01  -8.718
10                                           C(Br)Br  -1.96  -0.405
140                                            C1CC1   0.75   2.485
84                                              CCCC   2.10   2.588
572                                           CCCCCO  -4.57  -3.054
529                                            C=CCO  -5.03  -3.286
477                                   C[C@@H](CCl)Cl  -1.27  -0.265

### Save the output of this notebook

In [9]:
df.to_csv('df_notebook0_dataloading.csv')