As I don't yet have found a dataset with more features, I will start to implement the script with the solvation dataset.

In [1]:
import pandas as pd
import numpy as np

#%matplotlib inline

### Loading the data

In [2]:
dataset = pd.read_csv('../datasets/FreeSolv/SAMPL.csv')

In [ ]:
#type(dataset)

In [5]:
#dataset.head()

                              iupac                  smiles   expt   calc
0  4-methoxy-N,N-dimethyl-benzamide  CN(C)C(=O)c1ccc(cc1)OC -11.01 -9.625
1          methanesulfonyl chloride            CS(=O)(=O)Cl  -4.87 -6.219
2                 3-methylbut-1-ene                CC(C)C=C   1.83  2.452
3                   2-ethylpyrazine              CCc1cnccn1  -5.45 -5.809
4                       heptan-1-ol                CCCCCCCO  -4.21 -2.917

### Data Exploration

In [4]:
df = dataset.drop(columns = ['iupac'])

In [ ]:
#df.describe()

I'll take a small subset for now.

In [7]:
df = df.sample(n = 20)
df

                              smiles  expt   calc
75                               CCN -4.50 -3.156
400                  Cc1ccc(c(c1)C)C -0.86 -0.795
200                      C1CCC(=O)C1 -4.70 -3.889
280                   CC(=O)c1cccnc1 -8.26 -7.844
108                         CC(=O)OC -3.13 -3.830
588               CC(OC(=O)C)OC(=O)C -4.97 -8.006
570  C(CO[N+](=O)[O-])CO[N+](=O)[O-] -4.80 -5.322
510                           COCCOC -4.84 -3.103
114                    c1ccc(cc1)CBr -2.38 -1.853
475                        C(CCl)CCl -1.89 -0.416
299                    CCCCCOC(=O)CC -2.11 -2.176
233                         CCCCCCCN -3.79 -2.554
46                  c1ccc(c(c1)C=O)O -4.68 -8.809
172                    c1ccc(cc1)C=O -4.02 -5.058
139                         C1CCOCC1 -3.12 -1.809
54                             CCC#C -0.16  0.284
436        c1cc(cc(c1)O)[N+](=O)[O-] -9.62 -7.889
9                        CC[C@H](C)O -4.62 -3.145
69                       CCCCCC(=O)N -9.31 -8.103
380                  COC(=O)C1CCCCC1 -3.30 -4.376

### Save the output of this notebook

In [8]:
df.to_csv('df_notebook0_dataloading.csv')